body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #212121;
}
.box {
    /* Control the overall width
      and element height or only
      the size of its content area */
    width: 250px;
    height: 150px;

    /* Sets the border */
    border: 1px solid #f44336;

    /* Adds an inner padding */
    padding: 30px;

    /* Sets outer margins */
    margin: 30px;

    background-color: #ffeb3b;
}

/* Приклад 5 задання різних бордерів */
.box {
    /* Встановить стилі верхньої рамки */
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: blue;

    /* Встановить стилі правої рамки */
    border-right-width: 5px;
    border-right-style: dotted;
    border-right-color: black;

    /* Встановить стилі нижньої рамки */
    border-bottom-width: 7px;
    border-bottom-style: dashed;
    border-bottom-color: palevioletred;

    /* Встановить стилі лівої рамки */
    border-left-width: 9px;
    border-left-style: dashed;
    border-left-color: green;
}
/* Приклад 6 Закруглені рамки */
/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

.box-1 {
    width: 180px;
    height: 80px;
    background-color: #f44336;

    /*  The value can be pixels  */
    border-radius: 10px;
    /* також можно закруглити кожен кут рамки окремо.
    попереднє значення анулюється */
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 70px;
}

.box-2 {
    width: 120px;
    height: 120px;
    background-color: #2196f3;

    /*  The value can be percent  */
    border-radius: 20%;
}

.box-3 {
    width: 150px;
    height: 150px;
    background-color: #4caf50;

    /*  If the block is a square, settings the radius to 50% will transform it to a circle  */
    border-radius: 50%;
}
.box-1,
.box-2,
.box-3 {
    margin: 0 auto;
}
.box-1,
.box-2 {
    margin-bottom: 20px;
}
