/* #region Багатошарова тінь */
* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  min-height: 40vh;
  background-color: #f9f9fd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.post {
  max-width: 600px;
  padding: 20px;
  border-radius: 4px;
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #fff;

  box-shadow: 0 2.8px 2.2px red, 0 6.7px 5.3px blue, 0 12.5px 10px green, 0 22.3px 17.9px purple,
    0 41.8px 33.4px orange, 0 100px 80px teal;
}

.post-title {
  margin-top: 0;
}

.post-text {
  margin-bottom: 0;
}

/* #endregion */

/* #region Згорнута картка */

* {
  box-sizing: border-box;
}

/* body {
    margin: 0;
    min-height: 50vh;
    background-color: #f9f9fd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
} */

.post2 {
  position: relative;
  max-width: 600px;
  padding: 20px;
  border-radius: 4px;
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #fff;
}

.post2:before,
.post2:after {
  z-index: -1;
  position: absolute;
  content: '';
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}

.post2:after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.post-title2 {
  margin-top: 0;
}

.post-text2 {
  margin-bottom: 0;
}
/* #endregion */
