.social-links .link {
  color: teal;
}

.social-links .link:hover {
  color: blue;
}

.social-links .link:focus {
  color: orange;
}

.social-links .link:active {
  color: red;
}

.social-links .link:visited {
  color: green;
}

.social-links .link {
  color: teal;
}

a {
  color: darkslateblue;
}

a:hover {
  color: red;
}

a:focus {
  color: coral;
}

a:active {
  color: darkgreen;
}

body {
  color: 2a2a2a;
}

/* font-family: sans-serif */

/* Оформлення таблиці */
/* .schedule {
    border-collapse: collapse;
} */

.schedule th,
.schedule td {
  padding: 18px;
  border: 2px solid #d81010;
}

.schedule-head > tr:hover {
  background-color: coral;
  color: white;
}
.schedule-body > tr:hover {
  background-color: tomato;
  color: white;
  border: 1px blue;
}

/* стилі з автоперевірки */
pre {
  font-family: 'Arial', 'Helvetica', sans-serif;
  color: #2a2a2a;
  font-size: 16px;
}

pre::first-letter {
  font-family: 'Tahoma', serif;
  font-size: 32px;
  color: #f44336;
}

/* Let's add text selection styles for each paragraph of the poem. */
pre::selection {
  color: #ffffff;
  background-color: #3f51b5;
}
