/* body {
    color: #2a2a2a;
} */

.post {
    color: rgb(124, 223, 124);
}

.post-link {
    color: inherit;
}
/* body {
    color: #2a2a2a;
} */
.section {
    /* Інші стилі */
    border: 2px solid #3f51b5;
}

.section-title {
    /* Інші стилі */
    color: #3f51b5;
}

.section-title::before {
    /* Інші стилі */
    background-color: #3f51b5;
}
.alert {
    --alert-text-color: black;
    --alert-accent-color: tomato;
}

.alert-text {
    color: var(--alert-text-color);
    border: 1px solid var(--alert-accent-color);
}

.alert-icon {
    background-color: var(--alert-accent-color);
}
body {
    font-family: sans-serif;
    line-height: 1.5;
}

.alert {
    --alert-text-color: black;

    color: var(--alert-text-color);
}

.alert.success {
    --alert-text-color: green;
}

.alert.warning {
    --alert-text-color: orange;
}

.alert.error {
    --alert-text-color: red;
}